<div style="position: relative; left: 160px; top: 98px;">
    <div>
        <img [src]="bankImage" style="height:300px; width: 300px;">
    </div>
    <div style="position: relative; left: 350px; bottom: 220px;">
        <div>
    <a href="/account/register" class="btn btn-primary">Customer Register</a>
        </div><br>
    <div>
        <a href="/account/login" class="btn btn-primary">Customer Login</a>
    </div><br>
    <div>
        <a href="/account/register" class="btn btn-primary">Bank Manager Login</a>
    </div><br>
    </div>
</div>